@import "../../styles/var";

.container-inner {
  display: flex;
  flex-direction: row;

  height: 48px;
  justify-content: center;
  align-items: center;

  .paragraph-main {
    line-height: 1.35;
    color: #f0f;
  }

  .paragraph-sub {
    line-height: 1.35;
    color: #00ffff;
  }

  .vertical {
    display: flex;
    flex-direction: column;
  }

  .button {
    min-width: 76px;
    padding: 6px 10px 4px;
  }
}
