.buttons {
  display: flex;

  .button {
    flex: 1;

    box-shadow: rgba(255, 0, 255, 0.16) 0px 10px 36px 0px,
      rgba(255, 0, 255, 0.06) 0px 0px 0px 1px;
    &:not(:global(.btn-primary)) {
      background-color: #0d071d;
      border: none;
      color: #00ffff;
    }

    &:focus {
      z-index: unset;
    }

    .title {
      font-weight: bold;
    }

    .fiat {
      font-size: 10px;
    }

    .coin {
      font-size: 10px;
    }
  }
}
